{% extends 'base.html'%}
{%block content%}
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about_us.css'%}">
    <title>ABOUT US</title>
  


</head>

<body>
    <main>
        <section class="company-history">
            <div class="img_class">
                <img src="../static/css/olsa.png" alt="">
            </div>
            <div class="text">
                <div class="h2">
                    <h2>ABOUT US</h2>
                </div>
                <div class="pp">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea quidem nostrum accusamus. Odio
                        expedita ullam dicta magni laudantium alias animi perspiciatis officia, consectetur quos
                        tempore! Libero cupiditate maxime pariatur dolores repellendus placeat fuga minima molestiae
                        facilis officia quidem reiciendis eligendi ipsa nobis, culpa mollitia ipsam aut accusantium
                        harum eveniet consequuntur non, veniam praesentium sunt. Dolores quaerat nemo praesentium,
                        suscipit qui repellat omnis consequuntur rerum animi tenetur mollitia quasi minima distinctio
                        sed, vitae in est cumque quo voluptate optio enim magni? Aliquam voluptas maxime, repellat optio
                        aspernatur, fugit amet odio adipisci officia in laborum laudantium. Dolor, iusto modi laborum
                        minima dolore quae autem! Fugit velit minus odio molestiae voluptatibus voluptatem laudantium,
                        praesentium sunt corporis, omnis, est explicabo nulla? Totam ullam iure, praesentium veritatis
                        perspiciatis cumque laudantium sequi! Id unde repudiandae non alias adipisci, eius architecto
                        eum aliquam iure, reprehenderit porro aliquid autem maxime est tempore rem, eaque suscipit in
                        officia sit? Ipsa mollitia optio quisquam dolore id voluptas fugiat velit et error nemo, sequi
                        eveniet quibusdam. Dolorum nam totam delectus sint praesentium alias illo necessitatibus
                        inventore porro nostrum tenetur, deleniti corrupti, quisquam in non vitae modi! Aliquid dolores
                        inventore modi quos ullam, ratione sed natus, labore recusandae doloremque magnam quibusdam
                        voluptas voluptates commodi autem debitis pariatur eaque? Expedita nulla vitae, neque nobis modi
                        voluptatum repellendus molestias inventore necessitatibus quo, fugit amet optio nostrum
                        doloribus maiores assumenda earum id dignissimos, est nam.</p>
                </div>
            </div>
        </section>

        <section class="our-values">
            <h2>Our Values</h2>
            <div class="values">
                <div class="values1">
                    <h3>Quality</h3>
                </div>
                <div class="values2">
                    <h3>Integrity</h3>
                </div>
                <div class="values3">
                    <h3>Innovation</h3>
                </div>
            </div>
        </section>

        <section class="our-team">
            <div class="team-name">
                <h2>Our Team</h2>
            </div>

            <div class="team-img">
                <img src="../static/css/our_team.jpg" alt="">
            </div>
        </section>
    </main>

    {%endblock content%}
</body>

</html>